<% provide(:title, "Select a Location") %>

<p>
  User Device Location: <%= @user_location %>
</p>

<h1>Select a Location</h1>

<div class="hero-body">
  <% @locations.each do |location| %>
    <button class="button">
      <%= link_to location.area, location %>
    </button>
  <% end %>
</div>
