<a id="place-<%= place.id %>">
  <button class="button">
    <span class="place-name"><%= link_to place.name, place %></span>,
     <span class="place-address"> <%= place.address %></span>
  </button>
</a>

