<% provide(:title, 'All Places') %>
<h1>All Places</h1>

<div class="hero-body">
  <% @places.each do |place| %>
    <button class="button">
      <%= link_to place.name, place %>,
      <%= place.address %>
    </button>
  <% end %>
</div>